@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-poppins;
}

.page-container {
  transition: transform 0.5s ease-in-out;
}

.slide-out-left {
  transform: translateX(-100%);
}

.slide-in-right {
  transform: translateX(100%);
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  opacity: 1;
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.blur {

    filter: blur(8px);
    transition: filter 0.5s ease;
  }

.testing{
  height: 450px;
  width: 300px;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.cloud {
  transition: transform 0.5s ease-out;
}

.cloud-slide-left {
  animation: slideInLeft 1s ease-out;
}

.cloud-slide-right {
  animation: slideInRight 1s ease-out;
}

@media (max-width: 768px) {
  .cloud-slide-left, .cloud-slide-right {
    width: 300px;
    height: auto;
  }
}

/* Animation for scrolling text */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-text {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  animation: scroll 10s linear infinite;
}
