@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Poppins font globally */
* {
  @apply font-poppins;
}

/* Container styles for carousel */
.relative.container {
  @apply w-full max-w-screen-lg mx-auto;
}

/* Styles for slides */
.slide {
  @apply relative;
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Hide overflow for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  transform: scale(0.8); /* Scale down for non-active slides */
  transition: transform 0.5s ease-in-out; /* Smooth zoom effect */
}

.active-slide {
  transform: scale(1); 
}

.carousel-image {
  @apply w-full h-auto block;
  transition: transform 0.5s ease-in-out; /* Smooth zoom effect */
}

.carousel-image:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

/* Custom styles for arrows */
.slick-prev, .slick-next {
  @apply size-12 flex items-center justify-center cursor-pointer z-10;
  background: none;
  background-color: #10B791;
  color: #0D46A4;
  border-radius: 50%; /* Circular background */
  transition: background-color 0.3s, transform 0.3s;
}

.slick-dots li.slick-active button:before {
  color: #007bff; /* Highlight active dot */
}

.slick-prev, .slick-next {
  display: none !important; /* Hide the default arrows */
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

/* Animation keyframes */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Transition and animation utilities */
.page-container {
  @apply transition-transform ease-in-out duration-500;
}

.slide-out-left {
  transform: translateX(-100%);
}

.slide-in-right {
  transform: translateX(100%);
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  opacity: 1;
  animation: fadeOut 0.5s forwards;
}

.blur {
  filter: blur(8px);
  @apply transition ease-in-out duration-500;
}

/* Cloud animation classes */
.cloud {
  @apply transition-transform ease-out duration-500;
}

.cloud-slide-left {
  animation: slideInLeft 1s ease-out;
}

.cloud-slide-right {
  animation: slideInRight 1s ease-out;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .cloud-slide-left, .cloud-slide-right {
    @apply w-72 h-auto;
  }
}

.underline-box {
  @apply relative before:content-[''] after:absolute after:w-full after:h-6 after:-right-2 after:-bottom-1 after:-z-10;
}
